<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tic Tac Toe Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10F6A44E1F200121009E7638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10F6A4621F200121009E7638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10F6A46D1F200121009E7638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
